@model HapoTravelRequest.Data.TravelRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TravelRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PurposeOfTravel" class="control-label"></label>
                <input asp-for="PurposeOfTravel" class="form-control" />
                <span asp-validation-for="PurposeOfTravel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonEmployeeLegalName" class="control-label"></label>
                <input asp-for="NonEmployeeLegalName" class="form-control" />
                <span asp-validation-for="NonEmployeeLegalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NonEmployeeDOB" class="control-label"></label>
                <input asp-for="NonEmployeeDOB" class="form-control" />
                <span asp-validation-for="NonEmployeeDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceDescription" class="control-label"></label>
                <input asp-for="ConferenceDescription" class="form-control" />
                <span asp-validation-for="ConferenceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceLink" class="control-label"></label>
                <input asp-for="ConferenceLink" class="form-control" />
                <span asp-validation-for="ConferenceLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternativeText" class="control-label"></label>
                <input asp-for="AlternativeText" class="form-control" />
                <span asp-validation-for="AlternativeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfConference" class="control-label"></label>
                <input asp-for="CostOfConference" class="form-control" />
                <span asp-validation-for="CostOfConference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceStartDate" class="control-label"></label>
                <input asp-for="ConferenceStartDate" class="form-control" />
                <span asp-validation-for="ConferenceStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceEndDate" class="control-label"></label>
                <input asp-for="ConferenceEndDate" class="form-control" />
                <span asp-validation-for="ConferenceEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesAttending" class="control-label"></label>
                <input asp-for="EmployeesAttending" class="form-control" />
                <span asp-validation-for="EmployeesAttending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeesAttendingNames" class="control-label"></label>
                <input asp-for="EmployeesAttendingNames" class="form-control" />
                <span asp-validation-for="EmployeesAttendingNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceHotelName" class="control-label"></label>
                <input asp-for="ConferenceHotelName" class="form-control" />
                <span asp-validation-for="ConferenceHotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredLodgingInfo" class="control-label"></label>
                <input asp-for="PreferredLodgingInfo" class="form-control" />
                <span asp-validation-for="PreferredLodgingInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialTravelRequest" class="control-label"></label>
                <input asp-for="SpecialTravelRequest" class="form-control" />
                <span asp-validation-for="SpecialTravelRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportationMode" class="control-label"></label>
                <input asp-for="TransportationMode" class="form-control" />
                <span asp-validation-for="TransportationMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirlineDetails" class="control-label"></label>
                <input asp-for="AirlineDetails" class="form-control" />
                <span asp-validation-for="AirlineDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightCost" class="control-label"></label>
                <input asp-for="FlightCost" class="form-control" />
                <span asp-validation-for="FlightCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroundTransportation" class="control-label"></label>
                <input asp-for="GroundTransportation" class="form-control" />
                <span asp-validation-for="GroundTransportation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MileageReimbursement" class="control-label"></label>
                <input asp-for="MileageReimbursement" class="form-control" />
                <span asp-validation-for="MileageReimbursement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MileageRoundTrip" class="control-label"></label>
                <input asp-for="MileageRoundTrip" class="form-control" />
                <span asp-validation-for="MileageRoundTrip" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MIE" /> @Html.DisplayNameFor(model => model.MIE)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DailyMIEAmount" class="control-label"></label>
                <input asp-for="DailyMIEAmount" class="form-control" />
                <span asp-validation-for="DailyMIEAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysForMIE" class="control-label"></label>
                <input asp-for="DaysForMIE" class="form-control" />
                <span asp-validation-for="DaysForMIE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositAccount" class="control-label"></label>
                <input asp-for="DepositAccount" class="form-control" />
                <span asp-validation-for="DepositAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountType" class="control-label"></label>
                <input asp-for="AccountType" class="form-control" />
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <input asp-for="ApprovalStatus" class="form-control" />
                <span asp-validation-for="ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
