@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<div class="login-body">
    <div class="intro">
        <h1>@ViewData["Title"]</h1>
        <h4>Enter your email</h4>
    </div>
    <div class="row">
        <form method="post" id="forgot-password">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email@hapo.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" id="login-submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
