@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" 
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/assets/profile.svg" id="profile-img" 
                 alt="Profile" class="rounded-circle profile-img">
            @(user?.FirstName + " " + user?.LastName)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
            <div class="dropdown-divider"></div>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="dropdown-item">Logout</button>
            </form>
        </div>
    </li>
    
    <script>
        // Cache profile image in sessionStorage with only 1 GraphAPI call
        (() => {
            if (!sessionStorage.getItem('profileImage')) {
                try {
                    fetch('https://graph.microsoft.com/v1.0/me/photo/$value', {
                        method: 'GET',
                        credentials: 'include'
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.blob();
                        }
                        throw new Error('Could not get profile image');
                    })
                    .then(blob => {
                        const imgUrl = URL.createObjectURL(blob);
                        document.getElementById('profile-img').src = imgUrl;
                        sessionStorage.setItem('profileImageUrl', imgUrl);
                        sessionStorage.setItem('profileImage', 'true');
                    })
                    .catch(error => {
                        console.log('Error fetching profile image:', error);
                    });
                } catch (error) {
                    console.log('Error in profile image script:', error);
                }
            } else if (sessionStorage.getItem('profileImageUrl')) {
                document.getElementById('profile-img').src = sessionStorage.getItem('profileImageUrl');
            }
        })();
    </script>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
